body {
    font-family: 'Roboto', sans-serif;
    color: #434455;
    background-color: #ffffff;
    display: flex;
    flex-direction:column;
    justify-content: center;
    font-family: "Roboto", sans-serif;
    width: 1440px;
}
.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 72px;
    width: 1440px;
    border-bottom: 1px solid #e7e9fc

}
.container-nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 72px;
    width: 720px;
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px;
    width: 1158px;
} 

.nav-menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 40px;   
 }
 .nav-item { 
   
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;}

.contact {
    display: flex;
    flex-direction: row;
    justify-content:flex-end;
    align-items: center;
    padding: 10px 20px;
    width:720px;
    height:72px;   
}
 .contact-list {
    display:flex;
    flex-direction: row;
    align-items: center;
    gap: 40px;
    }
 .contact-list-link {
   
    display: flex;
    flex-direction: row;
    text-align: center;
    padding: 24px 0;
    
 }
.logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    margin-right: 76px;
}

.link {
    text-decoration: none;
}

.logotext {
    color: #2e2f42;
}

.nav-item .link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;    
}
.contact-list-link .link {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.link:hover {
    color: #404bbf;
}

.link:focus {
    color: #404bbf;
}

.contact-list {
    font-style: normal;
    list-style: none;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.container-main{
    background-color: #2e2f42;
    width: 1440px;
    height: 600px;
    top:72px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 188px 0;
       
}
.container{
    display: flex;
    justify-content: center; 
}

.header-big {    
    font-family: Roboto;
    font-size: 56px;
    font-weight: 700;
    line-height: 60px;
    letter-spacing: 0.02em;
    text-align: center;
    font-size: 56px;
    line-height: 1.07;
    color: #fff;
    max-width: 496px;
}
.button-item {
    display: block;
    margin:auto;
}
.button {
    background-color: #4d5ae5;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    cursor: pointer;
    padding: 16px 32px 16px 32px;
    border: none;
    border-radius: 4px;
    min-width: 169px;

}
    
.button:hover {
    background-color: #404bbf;
}

.button:focus {
    background-color: #404bbf;
}
.nav-list, .mission-list, .portfolio-list {
    list-style: none;
}
.container-mission{
    display: flex;
    flex-direction: row;
    padding: 120px 0;
   
}

.mission-list {
    display:flex;
    flex-direction: row;
    justify-content: center;
    width: calc((100%-72px)/4);
    gap: 24px;
}
.mission-list-header{
    margin-bottom: 8px;
}
.hidden-title{
    display: none;
}

.mission-list-text, .team-list-text {
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455}


.mission-list-header, .team-list-header, .portfolio-list-header {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}
#team-section {
    align-items: center;
    background-color: #f4f4fd;
    width: 1440px;
    height:732px;
    top: 1016px;   
}
.container-team-card{

    padding: 120px 0;
}
.card-container{
    padding: 32px 0;
}

.team-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #f4f4fd;
    list-style: none;
    gap: 24px;
    width: calc((100%-72px)/4);
         
}
.team-header{
    margin-bottom: 72px;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
}
.team-list-card {
    text-align: center;
    background-color: #fff;
    width:264px;
    height:380px;
    border:1px solid #E7E9FC;
    border-radius: 0px 0px 4px 4px;

}
.team-list-header{
    text-align: center;
    margin-bottom: 8px,
}
.team-list-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    text-align: center;
}

.container-portfolio{
   
    padding: 120px 0 120px 0;
    background-color:#fff;

}

.portfolio-list-item {
 
    background-color: #fff;
    border: 1px solid #E7E9FC;
   
}
.portfolio-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
}
.container-app-category{
padding: 32px 16px;
    
}
.portfolio-list-header{ 
    margin-bottom: 8px;
}
.portfolio-header
 {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform:capitalize;
    color: #2e2f42;
    padding-top: 40px;
    margin-bottom: 72px;
}
.portfolio-list-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.footer {
    background-color: #2e2f42;
    display: flex;
    flex-direction: column;
    height: 312px;
    background-color: #2e2f42;
    justify-content: center;
}

.logo-footer {
    color: #f4f4fd; 
    
}

.logo {
    padding-left: 10%;
}
.logo-footer-text {
    line-height: 1.5;
    color: #f4f4fd;
    letter-spacing: 0.02em;
    width: 264px;
    margin-left: 10%;
}


